@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body{
    background: rgb(255,251,21);
    background: radial-gradient(circle, rgba(255,251,21,1) 26%, rgba(255,20,20,1) 100%);
    z-index: -2;
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

div{
    border: 1px solid #282c34;
    border-radius: 10px;
    opacity: 90%;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Seymour One', sans-serif;
  }

/* Animation */
h1 {
    white-space: nowrap;
    overflow: hidden;  
    font-weight: bolder;
    color: aliceblue;
    letter-spacing: .8em;
    /* letter-spacing: 50%; */
    font-size: 30px;
    -webkit-text-stroke: 2px black;
}

h1 {
    animation: animated-text 2s steps(90,end) 2s 1 normal both;
    font-size: 30px;
}

h3{
    font-size: .8em;
    text-align: center;
}

/* text animation */
@keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
}

p{
    color: #282c34;
    font-size: 1em;
  }

ul li{
    quotes: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Seymour One', sans-serif;
    display: flex;
}

li{
    list-style: none;
    line-height: 1.5em;
    margin: 15px;
}

button{
    border: none;
    border-radius: 10px;
    color: navy;
    background-color: #fffb15;
    box-shadow: rgba(15, 15, 15, 0.848) 0px 2px 8px 0px;
    transition: 0.5s;
}

button:hover{
    color: red;
    box-shadow: rgba(148, 148, 148, 0.803) 0px 2px 8px 0px;
    transition: ease-in-out;
    opacity: 100;
    transition: 0.5s;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

.container{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(7, minmax(0, 1fr));
    gap: 10px;
    margin: 5%;
    padding: 1%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    height: 680px;
    z-index: 1;
}

.container > div {
    /* border: 2px solid #0856f2; */
}

.options{
    background: rgb(255,251,21);
    background: radial-gradient(circle, rgba(255,251,21,1) 26%, rgb(251, 126, 36) 100%);
    grid-column: 3/4;
    grid-row: 2 / 7;
    height: auto;
    padding: 2%;
    text-align: left;
    overflow-y:scroll;
    overflow-x:hidden;
}

.options p:hover{
    filter: brightness(400%);
}

.listTitle{
    grid-column: 1 / 6;
    grid-row: 1/1;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    text-indent: 10px;
    background-image: linear-gradient(to right, #ff1414 0%, #fffb15 100%);
}

.textInIt{
    background-color: aliceblue;
    margin: 2%;
    padding: 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 50%;
}

.listmaker{
    padding-left: 2%;
}

#buildIn{
    color: rgb(63, 60, 60);
    font-size: larger;
    padding-top: 3%;
    margin-top: 2%;
    padding: 2%;
    border: 2px solid #0856f2;
     border-radius: 10px;
    overflow-y:scroll;
    height: 360px;
    width: 75%;
    font-family: Arial;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sample{
    background-color: aliceblue;
    font-family: Arial;
    overflow-y:scroll;
    text-align: left;
    font-size: 1em;
    height: 90%;
    width: 35%;
    padding: 10px;
    padding-right: 2%;
    margin-top: 2%;
    quotes: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.textDiv{
    background-color: rgb(215, 215, 215);
    padding-left: 2%;
    grid-column: 1 / 3;
    grid-row: 2 / 7;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 2%;
}

.basicIn{
    background-color: aliceblue;
    font-family: Arial;
    font-size: .8em;
    padding: 2%;
}

.listOut{
    background-color: rgb(215, 215, 215);
    padding: 2%;
    grid-column: 4 / 6;
    grid-row: 2 / 7;
}

.listDisplay{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    /* overflow-y:scroll; */
    height: 90%;
    padding: 2%;
}

.variout{
    background-color: aliceblue;
    height: 80px;
    font-family: Arial;
    font-size: .8em;
    margin-top: 3%;
    padding: 2%;
    overflow-y: scroll;
}

#ArraysObjtLoops{
    font-family: Arial;
}

.links{
    color: aliceblue;
    padding: 2%;
    grid-column: 1 / 6;
    height: auto;
    background-image: linear-gradient(to right, #ff1414 0%, #fffb15 100%);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.listBox{
    font-family: Arial;
    height: 200px;
    width: 300px;
    padding: 2%;
}

.copybox{
    border: none;
}

#primaryList{
    font-family: monospace;
    font-size: 12px;
    line-height: 1.5em;
    width: 100px;
    margin: 1%;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-bottom: 12px;
    transition: 0.2s;
}

#primaryList:hover{
    font-size: 16px;
    opacity: 100;
    transition: 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#secondList{
    font-family: monospace;
    font-size: 12px;
    line-height: 1.5em;
    width: 100px;
    margin: 1%;
    overflow-y: auto;
    margin-bottom: 12px;
    transition: 0.2s;
    height: 200px;
    padding: 2%;
    }

#secondList:hover{
    font-size: 16px;
    line-height: 20px;
    opacity: 100;
    transition: 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#thirdList{
    font-family: monospace;
    font-size: 12px;
    line-height: 1.5em;
    width: 100px;
    margin: 1%;
    overflow-y: auto;
    margin-bottom: 12px;
    transition: 0.2s;
    height: 200px;
    padding: 2%;
    }

#thirdList:hover{
    font-size: 16px;
    line-height: 20px;
    opacity: 100;
    transition: 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.alert{
    font-weight: bolder;
    color: #dd15ff;
}

.nav-link {
    color: antiquewhite;
    display: inline-flex;
    padding-right: 50px;
    text-decoration: none;
}

.navlinks{
    color: antiquewhite;
    display: inline-flex;
    padding-right: 50px;
}

i{
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg);
    transition: 0.6s;
}

i:hover{
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(-45deg);
    transition: 0.6s;
}

.copyList{
    border: none;
    margin: 0px;
    padding: 0px;
    line-height: 1em;
}
